.Calendario {
    width: 800px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mes {
    background-color: #111;
    padding: 10px;
    border-radius: 10px;
}

.titulo-mes {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ccc;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

/* TODOS os dias */
.grid div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    text-align: center;
    border: 1px solid #333;
    background-color: #1a1a1a;
    color: #eee;
    transition: 0.2s;
}

.numero-dia {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.conteudo-dia {
    width: 100%;
    height: 60px; /* 👈 essencial */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.conteudo-dia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Hover */
.grid div:hover {
    background-color: #2a2a2a;
    cursor: pointer;
    transform: scale(1.05);
}

/* Cabeçalho (dias da semana) */
.grid div.dia-semana {
    font-weight: bold;
    background-color: #000;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dia atual */
.grid div.hoje {
    background-color: #00ff88;
    color: #000;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff88;
}

/* Espaços vazios */
.vazio {
    background-color: transparent !important;
    border: none !important;
    cursor: default;
    transform: none;
}